<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>弗丁</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>S</string>
		<key>describe</key>
		<string>We are starting off with a doozy in Tirion Fordring. You may have already noted this, but Tirion jumps Cairne to take the spot of number one Legendary over all. Tirion Fordring is obviously amazing, but let&apos;s go over him piece by piece. Divine Shield -- backed up by six Attack -- alone is good for a card from most classes or a Hero Power at worst. Taunt is going to protect your Health points regardless of how big of a mess you are in. Being a 6/6 means that he will require at least two minions to kill him after his bubble has been popped. If that wasn&apos;t enough, and even if he is assassinated on your opponent&apos;s turn, you still get a 5/3 weapon for your eight mana. When you compare eight mana for a 5/3 to Arcanite Reaper, you really are still doing quite well.
Sure, Tirion is weak to Polymorph and Hex; but at the same time, so is everything else. Tirion Fordring is the best and most efficient minion out there and you should always pick him.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Tirion+Fordring.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>101</integer>
		<key>name</key>
		<string>复仇之怒</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>S</string>
		<key>describe</key>
		<string>Avenging Wrath is Mage-level efficient at eight damage for six mana. You could argue that there is a downside in that the damage is split randomly. Since this is a mid to late game play, however, you should have minions able to attack and either craft a favorable board position or clean up after the hammers have been pitched. </string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Avenging+Wrath.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>103</integer>
		<key>name</key>
		<string>公正之剑</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>S</string>
		<key>describe</key>
		<string>If you are patient, Sword of Justice is +5/+5 to your team for three mana: that is a good deal. When you factor in the synergy with the Paladin Hero Power, you have a bomb of a weapon, Another upside to this card is that the bonuses are spread out. If you were getting the effect on only one minion it would a riskier play. The final benefit of Sword of Justice is that it still does have the versatility to attack if you need it to. All in all, Sword of Justice is a great weapon with amazing synergies with this class.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Sword+of+Justice.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>104</integer>
		<key>name</key>
		<string>圣疗术</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>Lay on Hands should win the game when you resolve it. While it may not be as flashy as a giant minion, Lay on Hands provides raw card advantage and the healing to stabilize. That said, it should only be a one of in your deck since it is a dead draw in the early game.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Lay+on+Hands.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>奥尔多卫士</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>S</string>
		<key>describe</key>
		<string>In addition to neutralizing any offensive threat from your opponent, Aldor Peacekeeper ranks highly by virtue of being one of the best in slot three drops. Aldor Peacekeeper also maintains relevance throughout the game. In the development stages of the game, when minions are trading left and right, he shrinks a guy while being a respectable 3/3 himself. In the later stages of the game, where early minions struggle more, he can still make any Boulderfist Ogre etc. look far less threatening.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Aldor+Peacekeeper.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>105</integer>
		<key>name</key>
		<string>生而平等</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>Equality does a lot of damage. While Equality will never kill anything on it&apos;s own, Paladin decks are usually built in such a way to maximize on many smaller minions; therefore, you should be able to clean up after casting this spell. Another synergy which Equality has in Paladin decks -- beyond the Hero Power 1/1s -- is that it leaves minions with Divine Shield relatively unaffected.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Equality.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>神圣愤怒</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>C</string>
		<key>describe</key>
		<string>Holy Wrath is a tricky spell. You never know exactly how much damage you&apos;re going to get but it does draw you a card. In an average Arena deck, Holy Wrath will usually hit for about three damage which is not great for the mana cost. Three damage and drawing a card could be worth five mana, but the variance is the factor which most holds back this spell.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Holy+Wrath.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>神恩术</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>D</string>
		<key>describe</key>
		<string>Divine Favor is best in very low curve decks. For the most part, your Arena deck will not be built in a way to properly capitalize on this and Divine Favor runs a high risk of being stranded in your hand.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Divine+Favor.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>受祝福的勇士</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>D</string>
		<key>describe</key>
		<string>Blessed Champion is quite all in for five mana. Unless you have a particularly large minion out already, the five mana investment is most likely not worth the bonus. In those cases where you do have a large minion, it is more likely that you would like to protect it instead of investing a card to make it an even larger target.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Blessed+Champion.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>真银圣剑</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>S</string>
		<key>describe</key>
		<string>Sign me up for eight damage at four mana. On its own that level of efficiency is enough, that Truesilver Champion helps mitigate the only real downside of being a weapon by healing is only icing on the cake. It is very hard to be behind after using your two swings of a Truesilver Champion.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Truesilver+Champion.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>奉献</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>S</string>
		<key>describe</key>
		<string>Many of the board clear spells which we have looked at have been referred to as &quot;like Consecration but&quot;. This should be a good indicator of just how powerful Consecration actually is. As we&apos;ve said before, board clear spells are crucial and Consecration is arguably one of the best. There are no replacements available to this effect so grab them when </string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Consecration.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>王者祝福</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>Blessing of Kings is what everyone wishes Blessed Champion could have been. Not only is Blessing of Kings cheaper, it asks less of the minion you are targeting and helps protect it as well. There is some risk involved in using Blessing of Kings since it opens you up for a 2-for-1 if your opponent has a removal spell. That said, getting in an attack for an extra four damage helps take the sting out of this. Whatever minion you choose to target with your Blessing of Kings will be a must-kill for your opponent. Try not to cast it on what is already your biggest minion so you can diversify your threats.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Blessing+of+Kings.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>愤怒之锤</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>Hammer of Wrath may not be the most efficient removal spell, but drawing a card is always sweet. Four mana is right about where you want this card to be: it will stabilize after the first few turns of combat and refill your hand as you go later. Hammer of Wrath is also never a dead draw in the late game because it can replace itself and leave six mana left over to cast whatever you draw next.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Hammer+of+Wrath.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>银色保卫者</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>Argent Protector has a respectable body on his own and Divine Shield is great early. Argent Protector does suffer if you do not have other minions out to be sure, but given that you are playing Paladin this is far less likely to happen. The only catch on Argent Protector is that he is not really a two drop, when building your curve you should look at him as a turn 3-5 play so you can maximize his Battlecry.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Argent+Protector.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>智慧祝福</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>B</string>
		<key>describe</key>
		<string>Blessing of Wisdom may not be the fastest card draw engine of all time, but after your second attack you have to be feeling great. The best part about Blessing of Wisdom is that it can, if needed, just cycle for one mana. While the best case scenario is to be able to cash in for multiple turns, the fact that it replaces itself instantly at very low cost is important. Finally, Blessing of Wisdom has the hidden upside of giving your target Taunt.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Blessing+of+Wisdom.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>烈王守卫</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>C</string>
		<key>describe</key>
		<string>That Guardian of Kings heals you is not the most relevant Battlecry to see on a seven drop. The effect which a 5/6 can have on the board, however, is not to be underestimated and Guardian of Kings goes a long way towards stabilizing if you are behind. 

It should also be noted that healing means less in Arena where highly efficient aggro decks and burn decks generally don&apos;t exist. Thus, for comparison, Boulderfist Ogre, a 6 drop with better stats but no Battlecry is generally preferred.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Guardian+of+Kings.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>力量祝福</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>D</string>
		<key>describe</key>
		<string>Blessing of Might giving three Attack for one mana is a good deal. That said, Blessing of Might will usually require you to 2-for-1 yourself as you will want to trade up with a smaller minion most of the time. Blessing of Might is not as card efficient as it is mana efficient, but sometimes you will just needed it get rid of a larger threat.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Blessing+of+Might.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>保护之手</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>D</string>
		<key>describe</key>
		<string>Divine Shield is usually good for a card worth of value. Hand of Protection being only one mana for the effect is fairly low impact on your deck. There is also potential here for a big tempo swing: killing a minion for one mana and an attack is a big play. That it requires a minion, and therefore does nothing if you are behind, does bring it down on the rankings.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Hand+of+Protection.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>崇高牺牲</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>E</string>
		<key>describe</key>
		<string>Noble Sacrifice has the potential to take out a 3/2 for only a single mana, but most times it won&apos;t. Even if you get it out early, which is the only time it is actually relevant, it can be easily played around by your opponent sequencing their attacks differently. Most secrets are best when the at least require a change in which cards are played.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Noble+Sacrifice.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>救赎</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>E</string>
		<key>describe</key>
		<string>Redemption shines if your deck is loaded with Divine Shields but returning a minion with only one Health makes it far too vulnerable. Before the secrets nerf, it was a lot more viable, but now that you can&apos;t control it to revive the exact minion you want, it&apos;s become a bottom tier pick.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Redemption.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>圣光术</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>E</string>
		<key>describe</key>
		<string>Holy Light is very similar to the Druid card Healing Touch. The problem with both of these cards is that healing doesn&apos;t really do much. Healing a minion is not enough to justify a pick because you may as well pick another minion card: which is less conditional plan overall. Targeting yourself with a Holy Light is also not the best plan: there is a difference between winning and not losing.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Holy+Light.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>忏悔</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>E</string>
		<key>describe</key>
		<string>Equality scored highly because it hit everything. Given that Repentance only hits one target and can be effectively played around means that it is not really worth a card. Another strike against Repentance is that, similar to Humility, your opponent needs to play into it. It&apos;s a Hunter&apos;s Mark that you can&apos;t control and costs 1 more mana.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Repentance.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>以眼还眼</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>E</string>
		<key>describe</key>
		<string>In back to back weeks we&apos;ve had Sinister Strike, Mind Blast, and now Eye for an Eye. This card doesn&apos;t do anything and now that it only triggers on your opponent&apos;s turn it does even less.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Eye+for+an+Eye.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>谦逊</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>E</string>
		<key>describe</key>
		<string>Aldor Peacekeeper scored highly with a very similar ability. This effect is great as a Battlecry but generally doesn&apos;t represent enough value on a card on its own.</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Humility.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>100</integer>
		<key>name</key>
		<string>圣光的正义</string>
		<key>category</key>
		<string>Paladin</string>
		<key>rating</key>
		<string>E</string>
		<key>describe</key>
		<string>Light&apos;s Justice provides a good damage to mana ratio. The problem, however, is that it is spread over four turns. Overall, Light&apos;s Justice is too low impact and there are better things for you to be doing. </string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/paladin/Light&apos;s%20Justice.png</string>
	</dict>
</array>
</plist>
