<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>乌鸦神像</string>
		<key>category</key>
		<string>Durid</string>
		<key>rating</key>
		<string>S</string>
		<key>describe</key>
		<string>乌鸦神像</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>活体根须</string>
		<key>category</key>
		<string>Durid</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>活体根须</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/druid/LivingRoots.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>自然平衡</string>
		<key>category</key>
		<string>Durid</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>自然平衡</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/druid/Naturalize.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>野蛮之击</string>
		<key>category</key>
		<string>Durid</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>野蛮之击</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/druid/Savagery.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>乌鸦神像</string>
		<key>category</key>
		<string>Durid</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>乌鸦神像</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>月火术</string>
		<key>category</key>
		<string>Durid</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>月火术</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>乌鸦神像</string>
		<key>category</key>
		<string>Durid</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>乌鸦神像</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>乌鸦神像</string>
		<key>category</key>
		<string>Durid</string>
		<key>rating</key>
		<string>A</string>
		<key>describe</key>
		<string>乌鸦神像</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
	</dict>
	<dict>
		<key>code</key>
		<integer>0</integer>
		<key>name</key>
		<string>乌鸦神像</string>
		<key>category</key>
		<string>Durid</string>
		<key>rating</key>
		<string>S</string>
		<key>describe</key>
		<string>乌鸦神像</string>
		<key>url</key>
		<string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
	</dict>
    <dict>
        <key>code</key>
        <integer>0</integer>
        <key>name</key>
        <string>乌鸦神像</string>
        <key>category</key>
        <string>Durid</string>
        <key>rating</key>
        <string>A</string>
        <key>describe</key>
        <string>乌鸦神像</string>
        <key>url</key>
        <string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
    </dict>
    <dict>
        <key>code</key>
        <integer>0</integer>
        <key>name</key>
        <string>乌鸦神像</string>
        <key>category</key>
        <string>Durid</string>
        <key>rating</key>
        <string>S</string>
        <key>describe</key>
        <string>乌鸦神像</string>
        <key>url</key>
        <string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
    </dict>
    <dict>
        <key>code</key>
        <integer>0</integer>
        <key>name</key>
        <string>乌鸦神像</string>
        <key>category</key>
        <string>Durid</string>
        <key>rating</key>
        <string>A</string>
        <key>describe</key>
        <string>乌鸦神像</string>
        <key>url</key>
        <string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
    </dict>
    <dict>
        <key>code</key>
        <integer>0</integer>
        <key>name</key>
        <string>乌鸦神像</string>
        <key>category</key>
        <string>Durid</string>
        <key>rating</key>
        <string>S</string>
        <key>describe</key>
        <string>乌鸦神像</string>
        <key>url</key>
        <string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
    </dict>
    <dict>
        <key>code</key>
        <integer>0</integer>
        <key>name</key>
        <string>乌鸦神像</string>
        <key>category</key>
        <string>Durid</string>
        <key>rating</key>
        <string>A</string>
        <key>describe</key>
        <string>乌鸦神像</string>
        <key>url</key>
        <string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
    </dict>
    <dict>
        <key>code</key>
        <integer>0</integer>
        <key>name</key>
        <string>乌鸦神像</string>
        <key>category</key>
        <string>Durid</string>
        <key>rating</key>
        <string>S</string>
        <key>describe</key>
        <string>乌鸦神像</string>
        <key>url</key>
        <string>http://hearthstone.nos.netease.com/1/cards/druid/RavenIdol.png</string>
    </dict>
</array>
</plist>
